*.rbc
capybara-*.html

.rspec

# ignore logs and tmp files
/log
/tmp

# ignore temporary files used by sqlite
/db/*.sqlite3
/db/*.sqlite3-journal

/public/system
/coverage/
/spec/tmp

*.orig
rerun.txt

pickle-email-*.html

config/initializers/secret_token.rb
config/master.key

## Environment normalization:
/.bundle
/vendor/bundle

.rvmrc

# ignore default bower_components
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore byebug history
.byebug_history

# Ignore node_modules
node_modules/

# Ignore database dump
dump.rdb

